{
  "plugins": [
    "transform-decorators-legacy",
    ["transform-es2015-classes", {loose: true}],
    "transform-proto-to-assign",
    "transform-runtime"
  ],
  "presets": ["es2015", "react", "stage-0"]
}
