@import '../../style/color.scss';

.wrapper {
  width: 100%;
  border-left: 1px solid $dark;

  .header {
    height: 55px;
    padding: 0 15px;
    border-bottom: 1px solid $dark;

    display: flex;
    align-items: center;

    > span {
      font-weight: bold;
    }
  }

  .content {
    padding: 10px 0;
    > div {
      margin: 0 auto;
    }
  }

  .boardGroup {
    display: flex;
    > div {
      flex: 1;
      height: 300px;
      //display: inline-block;
    }
  }

}
