@import '../../styles/color.scss';

.wrapper {
  width: 100%;
  border-left: 1px solid $dark;
  color: $blackish;

  .header {
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid $dark;

    display: flex;
    align-items: center;

    > span {
      font-weight: bold;
    }
  }

  .content {
    padding: 10px 0;
    > div {
      margin: 0 auto;
    }
  }

  .boardGroup {
    display: flex;
    > div {
      flex: 1;
      height: 300px;
    }
  }

}
