@import '../../styles/color.scss';

.wrapper {

  display: inline-block;
  width: 100%;

  padding: 0 30px;

  .row {
    display: flex;          display: -webkit-flex;
    flex-direction: row;    -webkit-flex-direction: row;
    flex-grow: 0;           -webkit-flex-grow: 0;
    flex-wrap: nowrap;      -webkit-flex-wrap: nowrap;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;

    &:hover:not(.header) {
      background-color: rgba(160, 160, 160, 0.1);

    }

    &.header {
      background-color: #e0e0e0;
      border-top: 1px solid #cccccc;
    }

    > div {
      padding: 8px 8px;
    }

    .cellGroup, .cellName, .cellEmail, .cellPhone, .cellSignupDate {
      flex-grow: 1;           -webkit-flex-grow: 1;
    }

    .cellId {
      width: 60px;
    }
    .cellGroup {
      width: 120px;
    }
    .cellName {
      width: 200px;
    }
    .cellEmail {
      width: 300px;
    }
    .cellPhone {
      width: 150px;
    }
    .cellGender {
      width: 60px;
      text-align: center;
    }
    .cellSignupDate {
      width: 150px;
    }
    .cellStatus {
      width: 80px;
      text-align: center;
    }
  }
}
