$white: #ffffff;
$light: #fafafa;
$gray: #f8f8f8;
$darkGray: #e9e9e9;
$dark: #d3d3d3;
$darker: #696969;
$blackish: #464646;
$black: #000;
$blue: #3B78E7;
$lightBlue: #82A9F0;
$somaGreen: rgb(185, 231, 57);
