/* document to be made.. */

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  //overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  outline: none;
}

