@import '../../styles/color.scss';

$height: 35px;
$width: auto;
$imgWidth: 80px;
$textWidth: 60px;

.wrapper {

  width: $width;
  height: $height;
  display: flex;
  align-items: center;

  > p {
  }

  .img {
    height: 100%;
    width: $textWidth;
    background-image: url('http://www.swmaestro.kr/web/web/_Img/Common/logo.gif');
  }

  .text {
    text-align: center;
    font-weight: bold;
    color: $dark;
    align-items: center;
  }

}
