@import '../../styles/color.scss';

.wrapper {

  width: 100%;
  padding: 15px 30px;
  min-height: 300px;
  color: gray;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    .subject {
      font-weight: bold;

      .generation {

      }
    }
    .teacher {

    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 15px;

    .createdAt {
      margin-right: 2px;
    }
  }

  .time {

  }

  .content {
    margin-top: 30px;
    font-size: 16px;
  }
  .attachment {
    margin-top: 15px;
  }

}

.wrapper.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
