@import '../../styles/color.scss';

.wrapper {

  width: 700px;
  font-size: 13px;
  margin-bottom: 20px;

  .tableHeader {
    font-weight: bold;
    > span {
      display: inline-block;
    }

    .author {
      width: 150px;
    }
    .content {
      width: 450px;
    }
    .date {
      width: 100px;
    }
  }

}
