@import '../../styles/color.scss';

.wrapper {

  display: inline-block;
  width: 100%;

  padding: 15px 30px;
  .form {

    .subjectArea {
      width: 600px;
      .subject {


        >input {
          width: 555px;
          border: 1px solid gray;
        }


      }


    }
    .information {
      .teacher {


        >input {
          width: 60px;
          border: 1px solid gray;
        }


      }
    }


    .content {
      width: 600px;

      .textArea{
        width: 100%;
        height: 80%;
        resize: none;
      }

    }

  }



}
