@import '../../styles/color.scss';

.wrapper {

  display: inline-block;
  width: 100%;

  padding: 0 30px;

  .group {
    display: flex;          display: -webkit-flex;
    flex-direction: row;    -webkit-flex-direction: row;
    flex-grow: 0;           -webkit-flex-grow: 0;
    flex-wrap: nowrap;      -webkit-flex-wrap: nowrap;
    vertical-align: middle;

    margin: 18px auto;

    > * {
      padding: 8px 4px;
    }

    .label {
      width: 120px;
      margin-right: 40px;
      text-align: right;
      font-weight: bolder;
      //border-bottom: 1px solid #ccc;
    }

    .content {
      flex-grow: 1;           -webkit-flex-grow: 1;
      width: 480px;
      //border-bottom: 1px solid #888;
    }

    input[type=text], input[type=password], input[type=email] {
      width: 320px;
      padding: 8px 12px;
      border-bottom: 2px solid #cccccc;
    }

    input[type=radio] ~label {
      padding: 8px 12px;
      margin-right: 32px;
    }
  }


}
