@import '../../style/color.scss';

.wrapper {
  border: 1px solid black;

  .offset {
    height: 50px;
  }

  .content {
    position: fixed;
    background-color: $gray;
    height: 50px;
    width: 100%;
  }

}
