@import '../../style/color.scss';

$height: 48px;

.wrapper {

  .offset {
    height: $height;
  }

  .content {
    padding: 0 5px;
    position: fixed;
    background-color: white;
    height: $height;
    width: 100%;
    display: flex;
    align-items: center;

  }

}
